/* reset css */

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* styles */
/* TODO: Cambiar la fuente

* {
  font-family: comic-sans;
} */

body {
  background-color: #fad7df;
}

main {
  display: flex;
  flex-direction: column;

  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 300vh;
}

.container-letter {
  position: relative;
}

.cover {
 
  /*  */
  transition: transform .75s;
  transform-origin: top;
}

.paper {
  position: center ;
  padding: 1.5rem;
  line-height: 2rem;
  right: 5px;
  /*  */
  z-index: -1;
  background: white;
  width: 420px;
  height: 1350px;

  transition: all .75s;
}



.options {
  display: flex;
  gap: 5rem;

  & button {
    color: #ff3234;
    font-weight: 600;
    border-radius: 3px;
    background: #fad7df;
    padding: 0.5rem 1rem;
    border: 1px solid #fe3334;
    cursor: pointer;
  }

  & button:hover {
    background: #ff989e;
    color: white;
  }
}

.open-cover {
  transform: rotatex(180deg);
}

.open-paper {
  animation: openPaper .5s forwards;
}

@keyframes openPaper {
  0% {
    top: 0;
  }
  100% {
    top: -120px;
  }
}

.close-paper {
  animation: closePaper .5s forwards;
}

@keyframes closePaper {
  0% {
    top: -120px;
  }
  100% {
    top: 0;
  }
}

.heart {
  display: none;
  position: absolute;
  top: 25%;
  left: 46.5%;
  margin: auto;
  font-size: 3rem;
  color: #fe3334;
  animation: crecer 1s forwards;
}

@keyframes crecer {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 3;
    opacity: 0;
  }
}

/* Styles for hearts and petals */
#hearts-container, #petals-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1350px;
  pointer-events: none;
  overflow: hidden;
}

.heart-flying, .petal-falling {
  position: absolute;
  font-size: 2rem;
  animation: float 5s linear infinite, fade 5s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-1350vh) rotate(360deg);
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.petal-falling {
  font-size: 1.5rem;
  color: #ff5f5f;
  animation: fall 5s linear infinite, sway 5s linear infinite;
}

@keyframes fall {
  0% {
    top: -10%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes sway {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  
}